<mat-toolbar color="primary">
    <li >
        <a routerLink="/dashboard" class="btn btn-success" routerLinkActive="active">DashBoard</a>
    </li>
    <li >
        <a routerLink="/viewPlayers" class="btn btn-primary" routerLinkActive="active">UnSold Players</a>
    </li>
    <li >
        <a routerLink="/user/Teams" class="btn btn-success" routerLinkActive="active">View Team</a>
    </li>
    <li >
        <a routerLink="/allPlayers" class="btn btn-success" routerLinkActive="active">View All Players</a>
    </li>
    <ul>
        <li>
            <a routerLink="/" class="btn btn-danger" routerLinkActive="active">Logout</a>
        </li>
        
    </ul>
   
</mat-toolbar>