<mat-toolbar color="primary">
    <li >
        <a routerLink="/dashboard" class="btn btn-success" routerLinkActive="active">DashBoard</a>
    </li>
    <li >
        <a routerLink="/viewPlayers" class="btn btn-danger" routerLinkActive="active">UnSold Players</a>
    </li>
    <li >
        <a routerLink="/user/Teams" class="btn btn-success" routerLinkActive="active">My Team</a>
    </li>
    <li >
        <a routerLink="/allPlayers" class="btn btn-success" routerLinkActive="active">My Players</a>
    </li>
    <li >
        <a routerLink="/user/players" class="btn btn-success" routerLinkActive="active">All Players</a>
    </li>
    
    <ul>
        <li>
            <a routerLink="/" class="btn btn-danger" routerLinkActive="active" (click)="logout()">Logout</a>
        </li>
        
    </ul>
   
</mat-toolbar>