<mat-toolbar color="primary">
    <li >
        <a routerLink="/adminDashboard" class="btn btn-success" routerLinkActive="active">DashBoard</a>
    </li>
    <li >
        <a routerLink="/showteam" class="btn btn-primary" routerLinkActive="active">Show Team</a>
    </li>
    <li >
        <a routerLink="/addPlayer" class="btn btn-success" routerLinkActive="active">Create Player</a>
    </li>
    <li >
        <a routerLink="/createteam" class="btn btn-success" routerLinkActive="active">Create Team</a>
    </li>
    <li >
        <a routerLink="/admin/AllPlayers" class="btn btn-primary" routerLinkActive="active">View All Players</a>
    </li>
    <li >
        <a routerLink="/user/register" class="btn btn-primary" routerLinkActive="active">Create Logins</a>
    </li>
    
    <ul>
        <li>
            <a routerLink="/" class="btn btn-danger" routerLinkActive="active" (click)="logout()">Logout</a>
        </li>
        
    </ul>
   
</mat-toolbar>
