
<html>
<div class="container">

    <button class=" btn-danger" style="float: right;background-color:crimson;"routerLink="/admin">Admin Login</button>
    <div class="form">
    <h2 id="login" style="color: rgb(199, 27, 27); font-weight: bolder;">Login User</h2>
    <div ><p style="color: red;">{{this.msg}}</p></div>
    
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <label for="uName" style="color: rgb(238, 5, 5);font-style: italic; font-weight: bolder;">User Name</label>
    <div class="form-group">
    <input type="text" id="uName" class="form-control"formControlName="userName" [ngClass]="{'is-invalid': submitted && f['userName'].errors }">
    <div *ngIf="submitted && f['userName'].errors" class="text-danger">
        <div *ngIf="submitted&&f['userName'].errors['required']">Name is required</div>
        <div *ngIf="submitted&&f['userName'].errors['minlength']">Name must be min 5 characters </div>
       
    </div>
</div>
    
    <label for="password" style="color: red; font-weight: bold; font-style: italic;">Password</label>
    <div class="form-group">
    <input type="text" id="password" class="form-control" formControlName="Password" [ngClass]="{ 'is-invalid': submitted && f['Password'].errors }">
    <div *ngIf="submitted && f['Password'].errors" class="text-danger">
        <div *ngIf="submitted && f['Password'].errors['required']">Password is required</div>
      
        <div *ngIf="submitted &&f['Password'].errors['pattern']">Password atleast one Uppercase  numerics and lowercase b/w 5-12</div>
    </div>
</div>
<br>
<input class="btn btn-success"type="submit" value="Submit" id="btn">
 
</form>


   </div>
</div>

</html>