<body>
<app-navbar></app-navbar>
<div class="container">
    
<div class="item">

    <h1 style="margin-top: 30%;">Unsold Players</h1>
    <button class="btn-primary"style="margin-top: 2%;"type="submit" routerLink='/viewPlayers'>View</button>
</div>
<div class="item2">
    <h1 style="margin-top: 30%; "  >View All Players</h1>
    <button  class="btn-primary"style="margin-top: 2%;" type="submit" routerLink='/allPlayers'>View</button>
</div>
<div class="item3">
    <h1 style="margin-top: 30%;">View All Teams</h1>
    <button  class="btn-primary"style="margin-top: 2%;" type="submit" routerLink='/user/Teams'>View</button>
</div>
</div>

</body>
