<body>
<app-admin-nav-bar></app-admin-nav-bar>
<div class="container"><div >
    <div class="item">
    <h1 style="margin-top: 2%;">Create Team</h1>
    <button class="btn-success"style="margin-top: 32%;" type="submit" routerLink='/createteam'>create</button>
</div>
<div class="item2">
    <h1 style="margin-top: 2%;">Show Team</h1>
    <button class="btn-primary"style="margin-top: 32%;"  type="submit" routerLink='/showteam'>show</button>
</div>
<div class="item3">
    <h1 style="margin-top: 2%;">Add Player</h1>
    <button class="btn-success"style="margin-top: 32%;"  type="submit" routerLink='/addPlayer'>Add</button>
</div>
<!-- <div class="item">
    <h1 style="margin-top: 30%;">Show Players</h1>
    <button class="btn-primary"style="margin-top: 32%;" type="submit" routerLink='/allPlayers'>View</button> -->
</div>
</div>
</body>